[Unit]
Description=Sing Box Service
Documentation=https://sing-box.sagernet.org
After=network.target nss-lookup.target

[Service]
User=sing-box
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
ExecStartPre=mkdir -p /run/sing-box/config/
ExecStartPre=rm -rf /run/sing-box/config/*
ExecStart=/bin/sing-box -D /opt/sing-box/ -c /etc/sing-box/config.json run
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=rm -rf /run/sing-box/config/*
Restart=on-failure
RestartSec=2s
LimitNOFILE=1048576
StartupMemoryMax=200M
MemoryMax=160M
StartupMemorySwapMax=200M
MemorySwapMax=300M
CPUQuota=25%
RuntimeDirectory=sing-box
RUntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target