#!/sbin/openrc-run

description="DoH Server Service"

extra_started_commands="reload"

command="/bin/bash"
command_args="/etc/doh-server/default.sh"

pidfile="/run/$RC_SVCNAME.pid"
required_files="/etc/doh-server/default.sh"

depend() {
	want net
}

reload() {
	start-stop-daemon --signal HUP --exec "$command" --pidfile "$pidfile"
}